torch
torchvision
pytorchvideo
einops
tqdm
numpy==1.24.3 # moviepy issue: https://github.com/Zulko/moviepy/issues/2025
fvcore
yacs
opencv-python
matplotlib
moviepy==1.0.3
tensorboard
scikit-learn
requests
PyYAML
librosa
SoundFile
joblib
pyav==11.1.0
